.sidebar {
  width: 19%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-logo {
  height: 26px;
  margin-top: 10px;
}
.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.sidebar-item .icon {
  margin-right: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
.sidebar-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.plus-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: black;
}
